<html>
<head>
	<title>Rashaun Home</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/bootflat/css/bootflat.css">
	<link rel="stylesheet" href="/bootflat/css/mystyle.css">
 		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script type='text/javascript' src="/scroller.js"></script>
		<script type='text/javascript' src="/bootflat/js/icheck.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

		  <script type="text/javascript" src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.2-min.js"></script>

		
		<script type="text/javascript" src="http://flesler-plugins.googlecode.com/files/jquery.localscroll-1.2.7-min.js"></script>
	</head>
<body>
<!--
<ul class="nav nav-pills nav-justified">
                  <li class="active"><a href="#">Home </a></li>
                  <li><a href="#">Blog</a></li>
				  <li><a href="#">Resume</a></li>
         
                </ul>
-->
				<div class="row">
						
				    <div class="col-md-5 col-md-offset-5">
					<img src="/bootflat/img/R21.png" style="background:transparent;" />
						
				    		<ol class="breadcrumb" >
					
							                  <li><a href="/">Home</a></li>
							                  <li><a href="/blogpost">Blog</a></li>
							                  <li ><a href="/resume">Resume</a></li>
							
							                </ol>		
					</div>	
				
				
 
				</div>
				
				<!-- INFO-->
				<div class="row">
				<div class= "col-md-4 ">
				</div>
				<div class="col-md-5">
							<a>	<h3>While we were always told to follow our dreams, no one ever told us exactly how to.</h3></a>
								<center><div class="circular"></div></center>

									<div style="text-align: center;">
									  <div style="display: inline-block; text-align: left;">

									    <p>Welcome to rashaunriley.com where I post my ideas and thoughts about how we all can reach our full potential and not fall victim to our self limiting minds. Please comment with agreements and disagreements. Let this become a place of good conversation, so that we all may learn and become our greater selves. </p>
									  </div>
									</div>
				</div>
				</div>
			
			<!-- BLOG DIV -->
	<div class="row">		
		<div id="blog1" class="blogdiv">
		
			<center><h1>Read and Discuss</h1></center>
			
			<div class="col-sm-6 col-md-3">
				
			              <div class="thumbnail">
			                <img class="img-rounded" src="/bootflat/css/me2.png">
			                <div class="caption text-center">
			                  <h3>Thumbnail label</h3>
			                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...</p>
			                  <p><a href="/blog1" class="btn btn-warning" role="button">View</a> 
			                </div>
			              </div>
			</div>	
	
		
		
				
	    </div>
		</div>
		
		

</body>
</html>
