<html>
<head>
	<title>Rashaun Home</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/bootflat/css/bootflat.css">
	<link rel="stylesheet" href="/bootflat/css/mystyle.css">
 		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script type='text/javascript' src="/scroller.js"></script>
		<script type='text/javascript' src="/bootflat/js/icheck.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

		  <script type="text/javascript" src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.2-min.js"></script>

		
		<script type="text/javascript" src="http://flesler-plugins.googlecode.com/files/jquery.localscroll-1.2.7-min.js"></script>
	</head>
<body>
<!--
<ul class="nav nav-pills nav-justified">
                  <li class="active"><a href="#">Home </a></li>
                  <li><a href="#">Blog</a></li>
				  <li><a href="#">Resume</a></li>
         
                </ul>
-->
			<div class="row">
			
	   
			<center>
				<img src="/bootflat/img/R21.png" style="background:transparent;" />
			
	    			<ol class="breadcrumb" >
		
				                  <li><a href="/">Home</a></li>
				                  <li><a href="/blogpost">Blog</a></li>
				                  <li ><a href="/resume">Resume</a></li>
				
				                </ol>		
	
	
			</center>
			</div>
				

			<!-- BLOG DIV -->
	<div class="row">		
	
		
		<center>	
		
			<h3>"He who has a strong enough why can bear almost any how." - Friedrich Nietzsche</h3>

			
			<div style="text-align: center;">
			  <div style="display: inline-block; text-align: left;">
				<div id="blogtext">
			    			<p> This quote above is why I created this blog. A quote by german philosopher Friedrich Nietzsche, helped me to realize why I fall short of bringing my ideas to reality. It is the simple fact that I didn't possess a great purpose to act on these dreams. So do we just quit because we don't have a strong enough why? No we do not. We must instead engage in self reflection and find internal desires so that we may establish our great purpose on this world. Let this be a place where we all can reflect on our own behaviors. Let this be a place where we can discover why we do everything else except what we really want to do. Understanding our nature, I believe is the first step to discovering ones purpose. I for one do not have all the answers, I am just going to be open and share some of my discoveries. Join me in sharing knowledge so that we may start our purposeful journey. <h4>-We all start somewhere<h4> </p>
				</div>
			  </div>
			</div>
		</center>	
			
			<div class="row">
				
				
				<center>
					<h2>Check out my blog topics here</h2>
				<div id="posting">
			              <div class="thumbnail">
			                <img class="img-rounded" src="/bootflat/img/habitloop.png">
			                <div class="caption text-center">
			                  <h3>Achieving Greatness Through Our Habits</h3>
			                  <p>Here we learn that we are defined by our habits. Only through knowing the nature of habits, are we then able to discover and form our true selves. </p>
			                  <p><a href="/greathabits" class="btn btn-warning" role="button">View Post</a> 
			                </div>
			              </div>
				</div>
				</center>
			</div>	
	
		
		
				
	  
	</div>
		
		

</body>
</html>
