<html>
<head>
	<title>ChatService</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>

		<script type='text/javascript' src="/script.js"></script>
		<script type='text/javascript' src="/scroller.js"></script>
</head>	
<body>
<div class="container">
	<input type="text" id="pseudoInput"> </input>
	<button id="pseudoSet">Set Pseudo</button>
		<div id="chatEntries">
			
		</div>
		
		<div id="chatControls">
			<input type="text" id="messageInput">
			<button id="submit">Enter</button>
		</div>
		
</div>
<a href="/home">HomePage</a>

</body>
</html>
