<html>
<head>
	<title>Rashaun Home</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/bootflat/css/bootflat.css">
	<link rel="stylesheet" href="/bootflat/css/bootflat.css.map">
	
	<link rel="stylesheet" href="/bootflat/css/mystyle.css">
 		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script type='text/javascript' src="/bootflat/js/icheck.min.js"></script>
		<script type='text/javascript' src="/scroller.js"></script>
		<script type='text/javascript' src="/bootflat/js/icheck.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

		  <script type="text/javascript" src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.2-min.js"></script>

		
		<script type="text/javascript" src="http://flesler-plugins.googlecode.com/files/jquery.localscroll-1.2.7-min.js"></script>
	</head>
<body>
<!--
<ul class="nav nav-pills nav-justified">
                  <li class="active"><a href="#">Home </a></li>
                  <li><a href="#">Blog</a></li>
				  <li><a href="#">Resume</a></li>
         
                </ul>
-->
				<div class="row">
						
				    <div class="col-md-5 col-md-offset-5">
					<img src="/bootflat/img/R21.png" style="background:transparent;" />
						
				    		<ol class="breadcrumb" >
					
							                  <li><a href="/">Home</a></li>
							                  <li><a href="/#blog1">Blog</a></li>
							                  <li ><a href="#resume1">Resume</li>
							
							                </ol>		
					</div>	
					
				</div>
				
			<!-- RESUME CONTENT-->	
				
			<div class="row">
				<div class="col-md-3">
				<ul id="myTab2" class="nav nav-pills nav-stacked">
				                  <li><a href="#education"><font size="4">Education</font></a></li>
				                  <li><a href="#workexperience"><font size="4">Work Experience</font></a></li>
				                  <li ><a href="#skills"><font size="4">Skills</font></a></li>
								  <li ><a href="#projects"><font size="4">Projects</font></a></li>
								  <li ><a href="#leadership"><font size="4">Leadership & Involvement</font></a></li>
				                </ul>
					
				</div>
				
				<div class="col-md-7">
					<div id="contact">
					<h4>Contact: <a href="mailto:rashaun.riley@gmail.com">Rashaun.Riley@gmail.com</a> | (832)-235-4516</h4>
					</div>
					<div id= "education">
						<h2><b> Education</b> </h2>
						<p>Carnegie Mellon University | Pittsburgh, PA</p>
						<p>B.S. Information Systems</p>
						<p>GPA: 3.27/4.00</p>
					
					</div>
					
					<div id="workexperience">
					<h2><b> Work Experience</b> </h2>
					<h4>Deloitte & Touche | <i>Security & Privacy Intern Consultant</i></h4>
					<p><font size="3">New York, New York | June 2013 - August 2013</font><p>
					<li><p>Researched and compiled a list of strategies for a client to meet security regulatory requirements</p></li>
					<li><p>Gathered and analysis data on a security function implemented by Deloitte to mitigate function errors</p></li><br>
					
					<!--Boeing -->
					<h4>The Boeing Company | <i>Systems and Design Integration Intern</i></h4>
					<p><font size="3">Seattle, WA | May 2012 - Aug 2012</font><p>
					<li><p>Developed the new SISQuick web application for the Sever Tools Team</p></li>
					<li><p>Consulted with users and project managers for requirements</p></li>
					<li><p>Created a more efficient system to decrease server stress and increase speed</p></li>
					
					</div>
					
					<div id= "skills">
						<h2><b> Skills</b> </h2>
						<p>Java | C# | Python | CSS | SQL | MongoDB | JavaScript | JQuery | ASP.NET | Ruby on Rails | NodeJS</p>
					</div>
					
					<div id="projects">
						<h2><b>Projects</b></h2>
						<h4>Senior Project | <i>ScottyGo</i></h4>
						<p><font size="3">Fall 2013</font><p>
						<li><p>Our team developed a prototype APIs to help centralize personable data within the Carnegie Mellon Community  </p></li>
						<li><p>We interviewed various stakeholders for function prioritization and possible privacy complications </p></li>
						<li><p> We incorporated various Social APIs to help improve data value within the system</p></li>
						<br>
					
						<h4>Consulting Project</h4>
						<p><font size="3">Spring 2013</font><p>
						<li><p>Interviewed stakeholders on ways to improve their marketing efforts</p></li>
						<li><p>Consulted the client on stategies on how to improve retention for mobile users</p></li>
						<li><p>Developed a prototype mobile site with documentation for implementation</p></li>
						<br>
						
					</div>
					
						<div id= "leadership">
							<h2><b>Leadership & Involvement</b> </h2>
								<h4>Omicron Chapter of Alpha Phi Alpha Fraternity Inc. | <i>Chapter President</i> </h4>
								<p><font size="3">Spring 2013-Spring 2014</font><p>
								<li><p>Planned and initiated social events, community service and educational lectures for the student community</p></li>
								<li><p> Partnered with various campus organizations and coordinated the 1st annual Black Prestige Gala Formal</p></li>
								<br>
								
								<h4>Men's Varsity Basketball Team </h4>
								<p><font size="3">Fall 2010-Spring 2014</font><p>
								<li><p>Starting point guard for the Tartans</p></li>
								<li><p>Appointed Co-Captain for 2012-2013 season </p></li>
								<li><p>Named to the 2012-2013 NABC Academic Excellence Team</p></li>
								<br>
								
								<h4>Black Student Advisory Council</h4>
								<p><font size="3">Fall 2011 - Fall 2012</font><p>
								<li><p>Joined other Black campus leaders and provided counsel to the University President about the Black student body experience at Carnegie Mellon</p></li>
								
								<br>
										
						</div>
					
					
				</div>
			
			</div>		
</body>
</html>